@import "/src/styles/global";

.loginButton {
  @extend %font-family;
  @extend %border-radius;

  width: 100%;
  background-color: $button;
  color: $white;
  font-size: 1em;
  padding: 4px;
  margin-top: 16px;
}
