@import "./vars.scss";

%font-family {
  font-family: Futura, Geneva, Tahoma, sans-serif;
}

%border-radius {
  border-radius: 4px;
}

%error-text {
  color: $error;
  font-size: 0.75em;
}

%button {
  @extend %font-family;
  @extend %border-radius;

  padding: 4px;
  font-size: 1em;

  &:disabled {
    opacity: 50%;
  }
}

%blue-button {
  @extend %button;

  background-color: $button;
  color: $white;
}
