@import "/src/styles/global";

.ghost {
  @extend %button;
  border: none;
  background-color: transparent;
  padding: $pad;

  &:hover {
    background-color: #ccc;
    transition: background-color 0.5s;
  }
}
