@import "/src/styles/global";

.upsert {
  border-bottom: 1px solid $black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: calc(2 * $pad);

  &_input {
    padding: $pad;
    font-size: 1em;
    min-width: 0;
  }

  &_saveBtn {
    @extend %blue-button;
  }
}
