@import "/src/styles/global";

.upsert {
  border-bottom: 1px solid $black;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: $pad;

  &_input {
    min-width: 0;
  }

  &_saveBtn {
    @extend %blue-button;
  }
}
