@import "/src/styles/global";

.todo {
  list-style: none;
  border-bottom: 1px solid $black;
  box-sizing: border-box;
  display: flex;
  padding: calc(2 * $pad);

  &:last-child {
    border-bottom: none;
  }

  &_input {
    min-width: 0;
    border-color: transparent;
    text-overflow: ellipsis;
    font-size: 1em;
    padding: $pad;
    margin-right: calc(2 * $pad);
  }
}
