@import "/src/styles/global";

.todo {
  list-style: none;
  border-bottom: 1px solid $black;
  box-sizing: border-box;
  display: flex;
  padding: $pad;

  &_input {
    @extend %font-family;
    min-width: 0;
  }
}
