@import "/src/styles/global";

.wrapper {
  @extend %border-radius;
  width: $content-width;
  border: 1px solid $black;
  height: 399px;
  overflow: clip;
}

.topRow {
  display: flex;
  justify-content: space-between;
  padding: calc(2 * $pad);
  border-bottom: 1px solid $black;
}

.search {
  font-size: 1em;
  padding: $pad;
}

.newBtn {
  @extend %button;
  background-color: $black;
  color: $white;
  padding: $pad;
}
