@import "/src/styles/global";

.wrapper {
  @extend %border-radius;

  width: $content-width;
  height: 400px;
  border: 1px solid $black;
  overflow-x: clip;
  overflow-y: scroll;
}

.topRow {
  display: flex;
  justify-content: space-between;
  padding: calc(2 * $pad);
  border-bottom: 1px solid $black;
}
